// ========== Basic Styling ==========
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: $font-med;
    color: $black;
    overflow-x: hidden;
    user-select: none;

    &.noscroll {
        height: 100vh;
        overflow: hidden;
    }
}

// ========== Text Styles ==========
h1, h2, h3 {
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    font-size: 2.125rem;
    letter-spacing: 4px;

    @include breakpoint-up(medium) {
        font-size: 3rem;
    }

    @include breakpoint-up(large) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1.875rem;

    @include breakpoint-up(large) {
        font-size: 2.1875rem;
    }
}

h3 {
    font-size: 1.625rem;
    color: $veryDarkBlue;

    @include breakpoint-up(large) {
        font-size: 2.125rem;
    }
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.btn {
    width: 10rem;
    height: 3.25rem;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba($color: $black, $alpha: .2);

    &-blue {
        background-color: $softBlue;
        color: $white;
        margin-right: 8px;
    }

    &-light {
        background-color: $grayishBlue;
        color: $black;
        margin-left: 8px;
    }
}

// ========== Spacing ==========
.container {
    max-width: 90rem;
    margin: 0 auto;

    &-pall {
        padding-top: 2.125rem;
        padding-right: 1.625rem;
        padding-bottom: 2.125rem;
        padding-left: 1.625rem;

        @include breakpoint-up(large) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }

    &-py {
        padding-top: 2.125rem; 
        padding-bottom: 2.125rem;
        
        @include breakpoint-up(large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &-px {
        padding-left: 1.625rem; 
        padding-right: 1.625rem; 
    }
}

// ========== Flexbox ==========
.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// ========== Visibility ==========
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}