.hero {

    @include breakpoint-up(large) {
        text-align: left;
        flex-direction: row-reverse;
    }

    &__image {
        position: relative;
        width: 100%;
        margin-top: 3.75rem;
        text-align: center;

        @include breakpoint-up(large) {
            width: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -1.625rem;
            width: 90%;
            height: 80%;
            background-color: $softBlue;
            border-bottom-left-radius: 200px;
            border-top-left-radius: 200px;

            @include breakpoint-up(large) {
                width: 80%;
            }
        }
    }

    &__img {
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0;
        max-width: 100%;
        max-height: 100%;

        @include breakpoint-up(large) {
            margin-left: auto;
        }
    }

    &__content {
        margin-top: 3.75rem;
        text-align: center;

        @include breakpoint-up(large) {
            width: 50%;
            text-align: left;
        }
    }

    &__button {
        margin-top: .75rem;
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
            justify-content: flex-start;
        }
    }
}