// ========== Colors ==========
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

// ========== Font Sizes ==========
$font-sm: 0.75rem;
$font-med: 1.025rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;