html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: black;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 34rem;
  color: #9194a1;
}

@media (min-width: 64em) {
  p {
    font-size: 1.25rem;
    margin: 1.625rem 0;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 64em) {
  h1, h2, h3, h4 {
    line-height: 1.5;
  }
}

h1 {
  font-size: 2.125rem;
  letter-spacing: 4px;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.875rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.5rem;
    max-width: 28.125rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: #252b46;
}

@media (min-width: 64em) {
  h3 {
    font-size: 2.125rem;
  }
}

h4 {
  font-size: 1.5rem;
  color: #252b46;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  padding: .875rem .625rem;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .15s;
  transition: all .15s;
}

@media (min-width: 64em) {
  .btn {
    padding: .875rem 1.875rem;
  }
  .btn:hover {
    background-color: transparent;
  }
}

.btn-blue {
  background-color: #5368df;
  border: 2px solid #5368df;
  color: white;
}

@media (min-width: 64em) {
  .btn-blue:hover {
    color: #5368df;
  }
}

.btn-light {
  background-color: #F7F7F7;
  color: #252b46;
  border: 2px solid transparent;
}

@media (min-width: 64em) {
  .btn-light:hover {
    border: 2px solid #252b46;
  }
}

.btn-softRed {
  border: 2px solid #fa5757;
  background-color: #fa5757;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.btn-softRed:hover {
  border: 2px solid #fa5757;
  color: #fa5757;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.container-pall {
  padding-top: 2.125rem;
  padding-right: 1.5rem;
  padding-bottom: 2.125rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container-pall {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container-py {
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
}

@media (min-width: 64em) {
  .container-py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in .3s ease-in-out forwards;
          animation: fade-in .3s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.fade-out {
  -webkit-animation: fade-out .3s ease-in-out forwards;
          animation: fade-out .3s ease-in-out forwards;
}

.header {
  position: relative;
  z-index: 2;
}

.header__logo-link {
  background: url("/images/logo-bookmark.svg");
  width: 155px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__logo-link.white {
  background-image: url("/images/logo-bookmark-white.svg");
}

.header__toggler {
  height: 18px;
  position: relative;
  z-index: 2;
}

.header__toggler span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #252b46;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__toggler span.bg-white {
  background-color: white;
}

.header__toggler.open span:first-child {
  -webkit-transform: translateY(7.5px) rotate(45deg);
          transform: translateY(7.5px) rotate(45deg);
}

.header__toggler.open span:last-child {
  -webkit-transform: translateY(-7.5px) rotate(-45deg);
          transform: translateY(-7.5px) rotate(-45deg);
}

.header__toggler.open span:nth-child(2) {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
  opacity: 0;
}

.header__mobile-menu {
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background-color: #252b46;
  opacity: 90%;
  padding-top: 6.5rem;
  text-align: center;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.header__mobile-menu.active {
  top: 0;
}

.header__mobile-menu-button {
  width: 100%;
  color: white;
  margin: 1.5rem 0;
  padding: .875rem 0;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__mobile-menu-button.vissible {
  opacity: 1;
}

.header__mobile-link {
  width: 100%;
  color: white;
  padding: 1.5rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__mobile-link.vissible {
  opacity: 1;
}

.header__mobile-link:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.header__socials-container {
  margin-top: auto;
  padding-bottom: 3rem;
}

.header__socials-link {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__socials-link.vissible {
  opacity: 1;
}

.header__socials-link:first-child {
  margin-right: 1rem;
}

.header__socials-link:last-child {
  margin-left: 1rem;
}

.header__desktop-link {
  margin-right: 3.125rem;
  text-transform: uppercase;
  color: black;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.header__desktop-link:hover {
  color: #fa5757;
}

@media (min-width: 64em) {
  .hero {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.hero__image {
  position: relative;
  width: 100%;
  margin-top: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__image {
    width: 50%;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1.625rem;
  width: 90%;
  height: 80%;
  background-color: #5368df;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 80%;
  }
}

.hero__img {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 64em) {
  .hero__img {
    margin-left: auto;
  }
}

.hero__content {
  margin-top: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__content {
    width: 50%;
    text-align: left;
  }
}

.hero__button {
  margin-top: .75rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .hero__button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero .btn:first-child {
  margin-right: 1rem;
}

.features {
  text-align: center;
}

.features__title {
  text-align: center;
}

.features__buttons {
  text-align: center;
}

@media (min-width: 64em) {
  .features__buttons {
    border-bottom: 1px solid rgba(145, 148, 161, 0.5);
    display: inline-block;
  }
}

.features__buttons .tab-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
  color: #9194a1;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}

@media (min-width: 64em) {
  .features__buttons .tab-btn {
    width: auto;
    border: none;
    padding: 1.625rem 2.625rem;
  }
}

.features__buttons .tab-btn > span {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 9rem;
  height: 4px;
  background-color: #fa5757;
  opacity: 0;
}

@media (min-width: 64em) {
  .features__buttons .tab-btn > span {
    width: 100%;
  }
}

.features__buttons .tab-btn:first-child {
  border-top: 1px solid rgba(145, 148, 161, 0.5);
}

@media (min-width: 64em) {
  .features__buttons .tab-btn:first-child {
    border: none;
  }
}

.features__buttons .tab-btn.btn-active {
  color: #252b46;
}

.features__buttons .tab-btn.btn-active > span {
  opacity: 1;
}

.features__content {
  display: none;
}

@media (min-width: 64em) {
  .features__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 500px;
  }
}

.features__content.content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__content-img {
  width: 100%;
  margin: 4.75rem 0;
}

@media (min-width: 64em) {
  .features__content-img {
    margin: 0;
    width: 50%;
  }
}

.features__content-img img {
  width: 100%;
}

.features__content-text {
  width: 100%;
}

@media (min-width: 64em) {
  .features__content-text {
    width: 50%;
    margin-left: 4.75rem;
  }
}

.features__content-text .btn {
  display: none;
}

@media (min-width: 64em) {
  .features__content-text {
    text-align: left;
  }
  .features__content-text .btn {
    display: inline-block;
  }
}

.extension__grid-cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17.5rem, 17.5rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2rem;
  margin: 3rem 0;
}

@media (min-width: 64em) {
  .extension__grid-cards {
    height: 28rem;
  }
}

.extension__card {
  background-color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 22.5rem;
  -webkit-box-shadow: 0px 4px 10px rgba(83, 104, 223, 0.2);
          box-shadow: 0px 4px 10px rgba(83, 104, 223, 0.2);
  border-radius: 12px;
}

@media (min-width: 64em) {
  .extension__card:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .extension__card:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.extension__card .card-heading {
  margin-top: 1.5rem;
}

.extension__card .card-description {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.extension__card .card-button {
  padding: .875rem 1.875rem;
  margin: 1.5rem 0;
}
/*# sourceMappingURL=style.css.map */