html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.025rem;
  color: black;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 1.025rem;
  line-height: 1.6;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 2.125rem;
  letter-spacing: 4px;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.875rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.1875rem;
  }
}

h3 {
  font-size: 1.625rem;
  color: #252b46;
}

@media (min-width: 64em) {
  h3 {
    font-size: 2.125rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.btn {
  width: 10rem;
  height: 3.25rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-blue {
  background-color: #5368df;
  color: white;
  margin-right: 8px;
}

.btn-light {
  background-color: #F7F7F7;
  color: black;
  margin-left: 8px;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.container-pall {
  padding-top: 2.125rem;
  padding-right: 1.625rem;
  padding-bottom: 2.125rem;
  padding-left: 1.625rem;
}

@media (min-width: 64em) {
  .container-pall {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container-py {
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
}

@media (min-width: 64em) {
  .container-py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container-px {
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes fade-in {
  from {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in .3s ease-in-out forwards;
          animation: fade-in .3s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.fade-out {
  -webkit-animation: fade-out .3s ease-in-out forwards;
          animation: fade-out .3s ease-in-out forwards;
}

.header {
  position: relative;
  z-index: 2;
}

.header__logo-link {
  background: url("/images/logo-bookmark.svg");
  width: 155px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__logo-link.white {
  background-image: url("/images/logo-bookmark-white.svg");
}

.header__toggler {
  height: 18px;
  position: relative;
  z-index: 2;
}

.header__toggler span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #252b46;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__toggler span.bg-white {
  background-color: white;
}

.header__toggler.open span:first-child {
  -webkit-transform: translateY(7.5px) rotate(45deg);
          transform: translateY(7.5px) rotate(45deg);
}

.header__toggler.open span:last-child {
  -webkit-transform: translateY(-7.5px) rotate(-45deg);
          transform: translateY(-7.5px) rotate(-45deg);
}

.header__toggler.open span:nth-child(2) {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
  opacity: 0;
}

.header__mobile-menu {
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background-color: #252b46;
  opacity: 90%;
  padding-top: 6.5rem;
  text-align: center;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.header__mobile-menu.active {
  top: 0;
}

.header__mobile-menu-button {
  width: 100%;
  color: white;
  margin: 1.5rem 0;
  padding: .875rem 0;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__mobile-menu-button.vissible {
  opacity: 1;
}

.header__mobile-link {
  width: 100%;
  color: white;
  padding: 1.5rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__mobile-link.vissible {
  opacity: 1;
}

.header__mobile-link:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.header__socials-container {
  margin-top: auto;
  padding-bottom: 3rem;
}

.header__socials-link {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header__socials-link.vissible {
  opacity: 1;
}

.header__socials-link:first-child {
  margin-right: 1rem;
}

.header__socials-link:last-child {
  margin-left: 1rem;
}

.header__desktop-link {
  margin-right: 3.125rem;
  text-transform: uppercase;
  color: black;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.header__desktop-link:hover {
  color: #fa5757;
}

.header__desktop-button {
  padding: .875rem 1.875rem;
  border: 2px solid #fa5757;
  background-color: #fa5757;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .15s;
  transition: all .15s;
}

.header__desktop-button:hover {
  background-color: transparent;
  border: 2px solid #fa5757;
  color: #fa5757;
}

@media (min-width: 64em) {
  .hero {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.hero__image {
  position: relative;
  width: 100%;
  margin-top: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__image {
    width: 50%;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1.625rem;
  width: 90%;
  height: 80%;
  background-color: #5368df;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 80%;
  }
}

.hero__img {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 64em) {
  .hero__img {
    margin-left: auto;
  }
}

.hero__content {
  margin-top: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__content {
    width: 50%;
    text-align: left;
  }
}

.hero__content p {
  max-width: 31.25rem;
  color: #9194a1;
  margin: 1.625rem 0;
}

.hero__button {
  margin-top: .75rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .hero__button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */